body {
  padding: 20px 0 80px;
}

.form-control {
  border-radius: 0;
}

li.active {
  text-decoration: underline;
}

hr.large  { border-top: 5px solid #000; }
hr.medium { border-top: 3px solid #000; }
hr.small  { border-top: 1px solid #000; }

.remove:focus, .remove:hover {
  cursor: pointer;
}
